.env
.env.*
!.env.example

logs/*.log
logs/*.txt

uploads/**/*
!uploads/.gitkeep
!uploads/events/.gitkeep
!uploads/content/.gitkeep
!uploads/testimonials/.gitkeep

qr/*
!qr/.gitkeep

vendor/
composer.lock
node_modules/

.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
